<!DOCTYPE html>
<html lang="en">
<head>
   <title>Document</title>
   <script src="../layouts/head.js"></script>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header"></header><!-- end page header -->
      <main class="page-content">
         <section class="page-section"></section><!-- end page section -->
         <section class="page-section"></section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer"></footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>