@media (min-width: 992px) {
   .vacancy-item .btn-collapse-toggle {
      pointer-events: none;
   }
}

.title-page {
   font-size: 1.75em;
}

.sosmed-list .input-group-text {
   width: 3rem;
   justify-content: center;
}