.page-header {
   background-color: rgba(var(--bs-white-rgb), 1);
}

.navbar-brand img {
   width: 8rem;
}

@media (min-width: 992px) {
   .navbar-brand img {
      width: 12rem;
   }
}

#sidebar a {
   color: inherit;
}

@media (min-width: 1400px) {
   .page-content {
      font-size: 1.125em;
   }
}

@media (min-width: 1400px) {
   .page-content .gx-lg-5 {
      --bs-gutter-x: 9rem;
   }
}

.page-section {
   padding-top: calc(3rem + 2vw);
   padding-bottom: calc(3rem + 2vw);
}

.container-section {
   position: relative;
}

.container-section::after {
   content: '';
   width: calc(100% - 1.5rem);
   border-top: solid 1px currentColor;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   opacity: .25;
}

.container-section:last-of-type::after {
   opacity: 0;
}

.rounded-icon {
   width: 90px;
}


@media (max-width: 575.98px) {
   #footbar {
      font-size: small;
   }
}

#footbar a {
   color: inherit;
   opacity: .75;
}

#footbar a:hover {
   opacity: 1;
}