:root {
   --bg-whitesmoke: #f5f5f5;
   --bg-whitesmoke-rgb: 245, 245, 245;
}

.bg-whitesmoke {
   background-color: var(--bg-whitesmoke);
}

.fs-small {
   font-size: small;
}

h1,h2,h3,h4,h5,h6 {
   font-size: inherit;
   line-height: inherit;
}

ul {
   margin-bottom: 0;
}

a {
   text-decoration: none;
}

input::placeholder, textarea::placeholder, .form-control::placeholder {
   color: inherit;
   opacity: .5;
} 

.page-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.page-header, .page-footer {
   flex-grow: 0;
}
.page-content {
   flex-grow: 1;
}
.page-section {
   padding: calc(3rem+1vw) 0;
}
@media (min-width: 576px) {
   .page-wrapper .container {
      width: 90%;
      max-width: 1320px;
   }
}