:root {
   --bg-whitesmoke: #f5f5f5;
   --bg-whitesmoke-rgb: 245, 245, 245;
   --bs-primary: #fd4f00;
   --bs-primary-rgb: 253, 79, 0;
}

body {
   color: #525252;
}

.bg-whitesmoke {
   background-color: var(--bg-whitesmoke) !important;
}

.fs-small {
   font-size: small;
}

.text-justify {
   text-align: justify;
   hyphens: auto;
   -moz-hyphens: auto;
}

.text-last-center {
   text-align-last: center;
}

.img-default {
   display: inline;
}

.img-invert {
   display: none;
}

svg {
   fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
   margin-bottom: 0;
}

ul {
   margin-bottom: 0;
}

a {
   text-decoration: none;
}

input::placeholder,
textarea::placeholder,
.form-control::placeholder {
   color: inherit;
   opacity: .5;
}

.btn {
   font-size: inherit;
}

.page-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.page-header,
.page-footer {
   flex-grow: 0;
}

.page-content {
   flex-grow: 1;
   overflow: hidden;
}

.page-section {
   padding-top: calc(3rem + 1vw);
   padding-bottom: calc(3rem + 1vw);
}

@media (min-width: 576px) {
   .page-wrapper .container {
      width: 90%;
      max-width: 1320px;
   }
}

@media (min-width: 992px) {
   .page-wrapper .container-lg {
      width: 90%;
      max-width: 1320px;
   }
}

.accordion-button:not(.collapsed) {
   color: inherit;
}

.form-check-input,
.form-check-label {
   cursor: pointer;
}

.form-check-input:checked[type="radio"] {

   --bs-form-check-bg-image: url() !important;
}

.lead {
   font-size: 1.25em;
}

.ratio-img {
   background-image: url(../assets/img/no-images.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50% auto;
}