<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Bisnis</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/businesses.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header">
         <script src="../layouts/navbar2.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container container-section">
            <div class="row row-gap-5 gx-lg-5">
               <div class="col col-12">
                  <h5 class="display-4 text-capitalize lh-sm mb-3">
                     <span class="fw-thin">jalur-jalur</span><br>
                     distribusi
                  </h5>
                  <p class="lead">
                     Kami mengandalkan sistem distribusi dengan beberapa jalur pendukung, membawa misi dan layanan kami ke seluruh penjuru negeri.
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/indraco/businesses/domestic.svg" class="object-fit-contain" alt="">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">peta distribusi domestik</b></h5>
                     </div>
                     <div>
                        <p class="text-justify">
                           Tim distributor kami bekerja sepenuh hati untuk mengantarkan pelayanan terbaik ke penjuru negeri.
                        </p>
                     </div>
                  </div>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/indraco/businesses/global.svg" class="object-fit-contain" alt="">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">peta distribusi international</b></h5>
                     </div>
                     <div>
                        <p class="text-justify">
                           Kami sedang membangun jaringan distribusi internasional yang akan menjangkau lebih banyak negara, dimulai dari Asia.
                        </p>
                     </div>
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
         <section class="page-section container container-section">
            <div class="row row-gap-5 gx-lg-5">
               <div class="col col-12">
                  <h5 class="display-4 text-capitalize lh-sm mb-3">
                     <span class="fw-thin">belanja</span><br>
                     online
                  </h5>
                  <p class="lead">
                     Portal belanja yang terintegrasi dengan user interface yang memudahkan konsumen mencari, memilih dan menikmati produk dan layanan kami. 
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/indraco/businesses/ecommerce.svg" class="object-fit-contain" alt="">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">E-commerce</b></h5>
                     </div>
                     <div class="olshop-wording">
                        <p class="text-justify">
                           Katalog produk online kami hadir dengan harga terbaik, voucher, dan berbagai promo khusus untuk semua pengguna maupun komunitas pecinta kopi pada umumnya. 
                        </p>
                     </div>
                     <div>
                        <nav class="nav-olshop d-flex flex-wrap row-gap-3 column-gap-5">
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/indracostore.png" alt="">
                           </a>
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/supresso.png" alt="">
                           </a>
                        </nav>
                     </div>
                  </div>
               </div><!-- end col -->
               <div class="col col-12 col-lg-6">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/indraco/businesses/marketplace.svg" class="object-fit-contain" alt="">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">marketplace</b></h5>
                     </div>
                     <div class="olshop-wording">
                        <p class="text-justify">
                           Temukan produk-produk kami di marketplace popular di lokasi Anda.
                        </p>
                     </div>
                     <div>
                        <nav class="nav-olshop d-flex flex-wrap row-gap-3 column-gap-5">
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/tokopediaa.png" alt="">
                           </a>
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/shopee.png" alt="">
                           </a>
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/lazada.png" alt="">
                           </a>
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/blibli.png" alt="">
                           </a>
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/bukalapak.png" alt="">
                           </a>
                           <a href="#" target="_blank">
                              <img src="../../../../resource/assets/img/indraco/logos/tiktok.png" alt="">
                           </a>
                        </nav>
                     </div>
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
         <section class="page-section container container-section">
            <div class="row row-gap-5 gx-lg-5">
               <div class="col col-12">
                  <h5 class="display-4 text-capitalize lh-sm mb-3">
                     <span class="fw-thin">layanan</span><br>
                     F&B
                  </h5>
                  <p class="lead">
                     Layanan F&B yang kami jalankan menggunakan keahlian tim kami, berfokus pada pengalaman konsumen dalam menikmati kopi.
                  </p>
               </div><!-- end col -->
               <div class="col col-12 col-lg-4">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/supresso/logo-supresso.svg" class="object-fit-contain" alt="" style="filter: grayscale(1);">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">supresso gallery</b></h5>
                     </div>
                     <div>
                        <p class="text-justify">
                           Dapatkan pengalaman menikmati kopi dengan cara terbaik, dipandu dan dilayani oleh barista berbakat kami. Jelajahi kopi single-origin Indonesia dengan balutan rasanya yang lengkap. 
                        </p>
                     </div>
                  </div>
               </div><!-- end col -->
               <div class="col col-12 col-lg-4">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/supresso/logo-supresso.svg" class="object-fit-contain" alt="" style="filter: grayscale(1);">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">supresso coffeehouse</b></h5>
                     </div>
                     <div>
                        <p class="text-justify">
                           Nikmati waktu berharga di Supresso Coffeehouse, buka setiap hari.
                        </p>
                     </div>
                  </div>
               </div><!-- end col -->
               <div class="col col-12 col-lg-4">
                  <div class="d-grid row-gap-3">
                     <div>
                        <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                           <img src="../../../../resource/assets/img/supresso/logo-supresso.svg" class="object-fit-contain" alt="" style="filter: grayscale(1);">
                        </div>
                     </div>
                     <div>
                        <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">pandan garden</b></h5>
                     </div>
                     <div>
                        <p class="text-justify">
                           Sajian makanan asli Indonesia dengan kekayaan rempah dan tradisi santap yang berharga. Siap setiap hari untuk pengalaman terbaik Anda.
                        </p>
                     </div>
                  </div>
               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>