<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Riwayat Experience</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/career.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header">
         <script src="../layouts/navbar2.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container py-0">
            <script src="../layouts/banner-career.js"></script>
            <script src="../layouts/form-notes.js"></script>
         </section><!-- end page section -->
         <section class="page-section container container-section">

            <form action="" class="d-flex flex-column row-gap-5">

               <div>
                  <h5 class="title-page mb-4">RIWAYAT PENDIDIKAN NON FORMAL</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Organisasi/ Pelatihan*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Organisasi/ Pelatihan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Jabatan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Jabatan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Bidang</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Bidang">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Periode</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="number" id="" placeholder="2010 - 2015">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>

               <div>
                  <h5 class="title-page mb-4">KEMAMPUAN BAHASA</h5>
                  <div class="row gx-lg-5 row-gap-4 mb-4">
                     <div class="col col-12">
                        <div class="form-group">
                           <label for="" class="form-label">Bahasa*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Bahasa">
                        </div>
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-6">
                        <div class="form-group">
                           <label for="" class="form-label">Tertulis*</label>
                           <div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioLanguageWrite" id="radioLangWriteGood" value="option1">
                                 <label class="form-check-label" for="radioLangWriteGood">Baik</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioLanguageWrite" id="radioLangWriteNotEnough" value="option2">
                                 <label class="form-check-label" for="radioLangWriteNotEnough">Cukup</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioLanguageWrite" id="radioLangWriteNotEnough" value="option3">
                                 <label class="form-check-label" for="radioLangWriteNotEnough">Kurang</label>
                              </div>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-6">
                        <div class="form-group">
                           <label for="" class="form-label">Lisan*</label>
                           <div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioLanguageSpoken" id="radioLangSpokenGood" value="option1">
                                 <label class="form-check-label" for="radioLangSpokenGood">Baik</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioLanguageSpoken" id="radioLangSpokenNotEnough" value="option2">
                                 <label class="form-check-label" for="radioLangSpokenNotEnough">Cukup</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioLanguageSpoken" id="radioLangSpokenNotEnough" value="option3">
                                 <label class="form-check-label" for="radioLangSpokenNotEnough">Kurang</label>
                              </div>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col col-12">
                        <div class="form-group">
                           <label for="" class="form-label">Keterangan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Keterangan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <a href="#"><u><i>Tambah Bahasa </i>+</u></a>
               </div>

               <div>
                  <h5 class="title-page mb-4">REFERENSI</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4 mb-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">No. Telepon</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nomor Telepon">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pekerjaan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pekerjaan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Hubungan*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Hubungan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <a href="#"><u><i>Tambah Referensi </i>+</u></a>
               </div>

               <div>
                  <h5 class="title-page mb-4">RIWAYAT PEKERJAAN</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4 mb-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama Atasan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Atasan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Alasan Berhenti*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alasan Berhenti">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <a href="#"><u><i>Tambah Referensi </i>+</u></a>
               </div>

               <div>
                  <h5 class="title-page mb-2">DOKUMEN</h5>
                  <p class="mb-4">
                     Lampirkan softcopy dokumen-dokumen berikut sebagai penunjang : <br>
                     <small>* <i>Dokumen dilampirkan dalam satu folder dalam format *.zip (nama_posisi)</i></small> <br>
                     <small>* <i>Ukuran file dalam satu folder tidak boleh lebih dari 1MB</i></small> <br>
                  </p>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
                     <div class="col">
                        <ol class="mb-4">
                           <li>KTP</li>
                           <li>SIM</li>
                           <li>NPWP</li>
                           <li>KK</li>
                           <li>PAS foto 3x4</li>
                           <li>Ijazah Terakhir</li>
                           <li>Transkrip Nilai</li>
                           <li>Surat Keterangan Pernah Bekerja</li>
                           <li>SKCK <small>*<i>Jika punya</i></small></li>
                           <li>Sertifikat-setifikat</li>
                        </ol>
                        <div class="input-group">
                           <label class="input-group-text rounded-0 border-dark" for="filesApplication">Upload</label>
                           <input type="file" class="form-control rounded-0 border-dark" id="filesApplication" multiple>
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>

               <div class="text-center py-5">
                  <a href="career-experience.html" class="btn btn-lg btn-dark rounded-0 px-4">
                     <i class="fas fa-paper-plane me-3"></i> Kirim Lamaran
                  </a>
               </div>
            </form>

         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>