<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Konsumer</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/career.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header sticky-top">
         <script src="../layouts/navbar.js"></script>
         <script src="../layouts/sidebar.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container pt-0">

            <div class="jumbotron mb-4" id="banner-career" style="background-color: #e9ecef;">
               <div class="container-fluid p-0">
                  <div class="row g-0">
                     <div class="col col-12 col-md-8 col-lg-5 pb-0 pe-lg-0 py-lg-5 my-lg-auto" style="padding: calc(3rem + 1vw);">
                        <div style="max-width: 23.75rem;">
                           <h5 class="fs-1 lh-sm mb-4">Berkarir di INDRACO</h5>
                           <p class="text-justify mb-0">
                              Ketahui alur proses rekruitmen di INDRACO mulai dari mengirimkan lamaran sampai tahap penerimaan karyawan. <br>
                              Ayo bergabung dan jadilah bagian dari kami!
                           </p>
                        </div>
                     </div><!-- end col -->
                     <div class="col col-12 col-lg-7">
                        <img src="../../../../resource/assets/img/indraco/banner/banner-career2.png" width="100%" height="auto" alt="">
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end container fluid -->
            </div><!-- end banner career -->

            <p class="text-justify mb-4">
               Kami mencari talenta-talenta untuk pekerjaan yang sesuai dalam berbagai tingkatan organisasi. Proses rekrutmen dilakukan secara selektif agar mendapat calon karyawan terbaik. Berikut alur proses rekrutmen di INDRACO GLOBAL INDONESIA mulai dari mengirimkan lamaran sampai ke tahap penerimaan karyawan.
            </p>

            <div class="row row-cols-3 g-3 row-cols-md-5 justify-content-md-evenly">
               <div class="col">
                  <figure class="figure text-center w-100">
                     <img src="../../../../resource/assets/img/indraco/career/ikon-tahap1.svg" class="figure-img img-fluid w-50" alt="...">
                     <figcaption class="figure-caption lh-sm fs-6">
                        1. <br> Aplikasi Masuk
                     </figcaption>
                  </figure>
               </div><!-- end col -->
               <div class="col">
                  <figure class="figure text-center w-100">
                     <img src="../../../../resource/assets/img/indraco/career/ikon-tahap2.svg" class="figure-img img-fluid w-50" alt="...">
                     <figcaption class="figure-caption lh-sm fs-6">
                        2. <br> Tes Tertulis & Tes Keahlian
                     </figcaption>
                  </figure>
               </div><!-- end col -->
               <div class="col">
                  <figure class="figure text-center w-100">
                     <img src="../../../../resource/assets/img/indraco/career/ikon-tahap3.svg" class="figure-img img-fluid w-50" alt="...">
                     <figcaption class="figure-caption lh-sm fs-6">
                        3. <br> Interview
                     </figcaption>
                  </figure>
               </div><!-- end col -->
               <div class="col">
                  <figure class="figure text-center w-100">
                     <img src="../../../../resource/assets/img/indraco/career/ikon-tahap4.svg" class="figure-img img-fluid w-50" alt="...">
                     <figcaption class="figure-caption lh-sm fs-6">
                        4. <br> Medical Checkup
                     </figcaption>
                  </figure>
               </div><!-- end col -->
               <div class="col">
                  <figure class="figure text-center w-100">
                     <img src="../../../../resource/assets/img/indraco/career/ikon-tahap5.svg" class="figure-img img-fluid w-50" alt="...">
                     <figcaption class="figure-caption lh-sm fs-6">
                        5. <br> Selamat Bergabung
                     </figcaption>
                  </figure>
               </div><!-- end col -->
            </div><!-- end row -->

         </section><!-- end page section -->
         <section class="page-section container container-section">

            <!-- pilih salah satu sesuai ketersediaan lowongan -->
            <div class="text-center mb-5">
               <h5 class="display-6 lh-base">Lowongan Pekerjaan <span class="text-success">Tersedia</span></h5>
               <h5 class="fs-3 lh-base text-danger">Maaf, saat ini kami tidak membuka lowongan pekerjaan!</h5>
            </div>

            <div class="vacancy">
               <header class="mb-5">
                  <div class="row row-cols-1 g-2 row-cols-md-2 gx-md-4 gx-xl-5">
                     <div class="col">
                        <div class="input-group bg-whitesmoke">
                           <input type="search" class="form-control border-0 rounded-0 bg-whitesmoke shadow-none" placeholder="Cari Pekerjaan">
                           <button class="btn border-0 rounded-0 shadow-none"><i class="fas fa-search"></i></button>
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <select name="" id="" class="form-select bg-whitesmoke border-0 rounded-0">
                           <option value="0" selected>Saring Lowongan</option>
                           <option value="1">Divisi</option>
                           <option value="2">Kota</option>
                           <option value="3">Fresh Graduate</option>
                        </select>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </header>
               <main>
                  <ul class="list-group list-group-flush mb-5 mb-lg-3" id="vacancy-list">
                     <li class="list-group-item px-0 vacancy-item">
                        <script src="../layouts/vacancy-item.js"></script>
                     </li><!-- end vacancy item -->
                     <li class="list-group-item px-0 vacancy-item">
                        <script src="../layouts/vacancy-item.js"></script>
                     </li><!-- end vacancy item -->
                     <li class="list-group-item px-0 vacancy-item">
                        <script src="../layouts/vacancy-item.js"></script>
                     </li><!-- end vacancy item -->
                     <li class="list-group-item px-0 vacancy-item">
                        <script src="../layouts/vacancy-item.js"></script>
                     </li><!-- end vacancy item -->
                     <li class="list-group-item px-0 vacancy-item">
                        <script src="../layouts/vacancy-item.js"></script>
                     </li><!-- end vacancy item -->
                  </ul><!-- end vacancy list -->
                  <nav aria-label="...">
                     <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                           <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item">
                           <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                           <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                           <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                           <a class="page-link" href="#">Next</a>
                        </li>
                     </ul>
                  </nav>
               </main>
            </div><!-- end vacancy -->
         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>