<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Identitas Diri</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/career.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header sticky-top">
         <script src="../layouts/navbar.js"></script>
         <script src="../layouts/sidebar.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container py-0">
            <script src="../layouts/banner-career.js"></script>
         </section><!-- end page section -->
         <section class="page-section container container-section">

            <h5 class="title-page mb-4">IDENTITAS</h5>
            <form action="">
               <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4">
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Posiiton Applied For</label>
                        <select name="" id="" class="form-select rounded-0 border-0 bg-whitesmoke shadow-none">
                           <option value="0" selected>Position</option>
                           <option value="1">IT Support</option>
                           <option value="2">Web Developer</option>
                           <option value="3">Digital Marketing</option>
                           <option value="4">Desain Grafis</option>
                        </select>
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Other Position</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Other (if your position not in listing)">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Nama Lengkap*</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Lengkap">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Nama Panggilan</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Panggilan">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Tempat/ Tanggal Lahir</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Tempat/ Tanggal Lahir">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Jenis Kelamin</label>
                        <div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioGender" id="radioGenderMale" value="option1">
                              <label class="form-check-label" for="radioGenderMale">Laki-laki</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioGender" id="radioGenderFemale" value="option2">
                              <label class="form-check-label" for="radioGenderFemale">Perempuan</label>
                           </div>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Kewarganegaraan</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Indonesia">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Agama</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Agama">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">KTP No.</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nomor KTP">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Passport/ SIM No.</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Passport/ Nomor SIM">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Alamat KTP</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Sesuai KTP">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Alamat Domisili</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Sesuai Domisili">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">No. NPWP</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nomor NPWP">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Surel</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Surat Elektronik">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">No. Telp. Rumah</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nomor Telepon Rumah">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">No. HP</label>
                        <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nomor Telepon Genggam">
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="form-group">
                        <label for="" class="form-label">Tempat Tinggal</label>
                        <div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioHomeOptions" id="radioHomePribadi" value="option1">
                              <label class="form-check-label" for="radioHomePribadi">Pribadi</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioHomeOptions" id="radioHomeOrtu" value="option2">
                              <label class="form-check-label" for="radioHomeOrtu">Orang Tua</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioHomeOptions" id="radioHomeKontrak" value="option3">
                              <label class="form-check-label" for="radioHomeKontrak">Kontrak</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radioHomeOptions" id="radioHomeKost" value="option4">
                              <label class="form-check-label" for="radioHomeKost">Kos</label>
                           </div>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
               <div class="text-center py-5 text-lg-end">
                  <a href="career-family.html" class="btn btn-outline-dark rounded-0 px-5">Lanjutkan</a>
               </div>
            </form>

         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>