<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Riwayat Pendidikan</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/career.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header sticky-top">
         <script src="../layouts/navbar.js"></script>
         <script src="../layouts/sidebar.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container py-0">
            <script src="../layouts/banner-career.js"></script>
         </section><!-- end page section -->
         <section class="page-section container container-section">

            <h5 class="title-page mb-4">RIWAYAT PENDIDIKAN FORMAL</h5>
            <form action="" class="d-flex flex-column row-gap-5">

               <div>
                  <h5 class="fs-4 mb-4">Jenjang Pendidikan (SLTA/ SMA/ MA)</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama Sekolah*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pekerjaan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pekerjaan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Alamat*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pendidikan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pendidikan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
               
               <div>
                  <h5 class="fs-4 mb-4">Susunan Keluarga (Ibu)</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pekerjaan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pekerjaan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Alamat*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pendidikan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pendidikan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
               
               <div>
                  <h5 class="fs-4 mb-4">Susunan Keluarga (Saudara 1)</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4 mb-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Jenis Kelamin*</label>
                           <div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radiGender" id="radioGenderMale" value="option1">
                                 <label class="form-check-label" for="radioGenderMale">Laki-laki</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radiGender" id="radioGenderFemale" value="option2">
                                 <label class="form-check-label" for="radioGenderFemale">Perempuan</label>
                              </div>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pekerjaan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pekerjaan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Alamat*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pendidikan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pendidikan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <a href="#"><u><i>Tambah Saudara +</i></u></a>
               </div>
               
               <div>
                  <h5 class="fs-4 mb-4">Susunan Keluarga Bagi Yang Menikah (Suami/ Istri)</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4 mb-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Suami/Istri*</label>
                           <div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radiMariage" id="radioHusband" value="option1">
                                 <label class="form-check-label" for="radioHusband">Suami</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radiMariage" id="radioWife" value="option2">
                                 <label class="form-check-label" for="radioWife">Istri</label>
                              </div>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pekerjaan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pekerjaan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Alamat*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pendidikan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pendidikan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
               
               <div>
                  <h5 class="fs-4 mb-4">Susunan Keluarga (Anak 1)</h5>
                  <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 row-gap-4 mb-4">
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Nama*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Nama Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Jenis Kelamin*</label>
                           <div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radiGender" id="radioGenderMale" value="option1">
                                 <label class="form-check-label" for="radioGenderMale">Laki-laki</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input border-dark rounded-circle shadow-none" type="radio" name="radiGender" id="radioGenderFemale" value="option2">
                                 <label class="form-check-label" for="radioGenderFemale">Perempuan</label>
                              </div>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pekerjaan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pekerjaan">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Alamat*</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Alamat Lengkap">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="form-group">
                           <label for="" class="form-label">Pendidikan</label>
                           <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" type="text" id="" placeholder="Pendidikan">
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <a href="#"><u><i>Tambah Anak +</i></u></a>
               </div>

               <div class="text-center py-5 text-lg-end">
                  <a href="career-education.html" class="btn btn-outline-dark rounded-0 px-5">Lanjutkan</a>
               </div>
            </form>

         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>