<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Consumer</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/product.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header sticky-top">
         <script src="../layouts/navbar.js"></script>
         <script src="../layouts/sidebar.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container container-section d-flex flex-column row-gap-5">
            <header>
               <div class="row row-cols-1 text-center row-gap-3 row-cols-lg-auto text-lg-start align-items-lg-center justify-content-lg-between">
                  <div class="col order-lg-2">
                     <img src="../../../../resource/assets/img/supresso/logo-supresso.svg" alt="" style="width: 9rem; height: auto;">
                  </div><!-- end col -->
                  <div class="col order-lg-1">
                     <h5 class="display-5 lh-sm">
                        <span class="fw-thin">Kopi</span> <br> Supresso
                     </h5>
                  </div><!-- end col -->
               </div><!-- end row -->
            </header>
            <main>
               <div class="product-list">
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
                  <div class="product-item">
                     <script src="../layouts/card-product.js"></script>
                  </div><!-- end col -->
               </div><!-- end row -->
            </main>
         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>