<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO &bull; Foodservice</title>
   <script src="../layouts/head.js"></script>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header">
         <script src="../layouts/navbar2.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section container container-section">
            <h5 class="display-4 lh-sm mb-3 text-capitalize">
               kopi
            </h5>
            <p>
               Dari Sumatra hingga Papua, seri kopi specialty Indonesia yang sudah terkenal ke mancanegara.
            </p>
         </section>
         <section class="page-section container container-section">
            <h5 class="display-4 lh-sm mb-3 text-capitalize">
               krimer
            </h5>
            <p>
               Krimer berkualitas dengan standar produksi dan penjaminan mutu yang tinggi, untuk skala konsumsi rumah ataupun industri.
            </p>
         </section>
         <section class="page-section container container-section">
            <h5 class="display-4 lh-sm mb-3 text-capitalize">
               teh
            </h5>
            <p>
               Teh autentik Indonesia dengan pengalaman tradisi ngeteh yang kaya. Rasa yang kuat dengan tekstur yang lembut.
            </p>
         </section>
         <section class="page-section container container-section">
            <h5 class="display-4 lh-sm mb-3 text-capitalize">
               jahe
            </h5>
            <p>
               Minuman jahe premium yang memberikan kehangatan seimbang, kini tersedia dalam berbagai varian.
            </p>
         </section>
         <section class="page-section container container-section">
            <h5 class="display-4 lh-sm mb-3 text-capitalize">
               cokelat
            </h5>
            <p>
               Dipetik dari kebun kakao asli Indonesia, lini produk coklat kami mengutamakan rasa yang asli dengan tekstur yang lembut, kaya dan mewah.
            </p>
         </section>
         <section class="page-section container container-section">
            <h5 class="display-4 lh-sm mb-3 text-capitalize">
               gula
            </h5>
            <p>
               Gula dan berbagai produk pemanis lainnya juga tersedia dalam berbagai tipe, ukuran dan skala produksi/bisnis.
            </p>
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>