<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACO</title>
   <script src="../layouts/head.js"></script>
   <link rel="stylesheet" href="../styles/landing.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header sticky-top">
         <script src="../layouts/navbar.js"></script>
         <script src="../layouts/sidebar.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section p-0">

            <div id="home-banner" class="carousel slide carousel-fade bg-dark" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
               <div class="carousel-indicators d-none">
                  <button type="button" data-bs-target="#home-banner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#home-banner" data-bs-slide-to="1" aria-label="Slide 2"></button>
               </div>
               <div class="carousel-inner">
                  <div class="carousel-item vh-100 bg-dark active">
                     <img src="../../../../resource/assets/img/indraco/banner/banner-default.jpeg" class="img-banner object-fit-cover w-100 h-100" alt="...">
                     <div class="carousel-caption start-0 end-0 top-50 translate-middle-y text-start">
                        <h5 class="display-1 fw-thin">
                           Inovasi & <br class="d-none d-md-block">
                           <b class="fw-medium">Masa Depan</b>
                        </h5>
                     </div>
                  </div>
               </div>
               <button class="carousel-control d-none carousel-control-prev" type="button" data-bs-target="#home-banner" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control d-none carousel-control-next" type="button" data-bs-target="#home-banner" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
               </button>
            </div><!-- end home banner -->

         </section><!-- end page section -->
         <section class="page-section container container-section">
            <div class="row row-gap-4 align-items-md-end justify-content-lg-between">
               <div class="col col-12 col-md col-lg-7">

                  <h5 class="fs-3 mb-4"><b class="fw-medium">PT. Indraco Global Indonesia</b></h5>
                  <p class="text-justify">
                     Kami INDRACO - Dimulai pada tahun 1971 dengan gudang di Sumatera oleh pendiri kami, kami telah terus tumbuh dan berkembang menjadi beberapa fasilitas manufaktur canggih di seluruh Indonesia dan Singapura.
                     <br><br>
                     Di INDRACO, kami berusaha untuk berinovasi dalam industri yang selalu berubah dan dapat beroperasi dengan kecerdasan dan kreativitas yang dengan bangga kami bawa dan tanamkan dalam semua usaha kami, sejak momen pendirian kami. 
                  </p>

               </div><!-- end col -->
               <div class="col col-12 col-md-auto">

                  <div class="card text-bg-dark ratio ratio-1x1 rounded-4 ms-lg-auto" style="width: 18rem;">
                     <div class="card-body w-100 h-100 d-flex flex-column p-4">
                        <div class="flex-grow-1"><h5 class="lh-1 fw-thin" style="font-size: 3em;">Buletin <br> Kami</h5></div>
                        <div class="flex-grow-0">
                           <div class="input-group w-100 border-bottom border-light">
                              <input type="email" class="form-control form-control-lg rounded-0 bg-transparent text-white border-0 px-0" placeholder="Alamat Email">
                              <button class="btn btn-lg text-white p-0"><i class="fas fa-envelope"></i></button>
                           </div>
                        </div>
                     </div>
                  </div>

               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
         <section class="page-section container container-section">
            <h5 class="fs-3 mb-4"><b class="fw-medium">Fokus Usaha Kami</b></h5>
            <div class="row g-0 d-grid gap-3 gap-lg-4" style="grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));">
               <div class="col">

                  <div class="card w-100 h-100 bg-whitesmoke rounded-4 border-0">
                     <div class="card-body p-4">
                        <h5 class="card-title fs-4 mb-3"><b class="fw-medium">Jalur-jalur <br> Distribusi</b></h5>
                        <p class="card-text text-justify">
                           Kami mengandalkan sistem distribusi dengan beberapa jalur pendukung, membawa misi dan layanan kami ke seluruh penjuru negeri.
                        </p>
                     </div>
                  </div>

               </div><!-- end col -->
               <div class="col">

                  <div class="card w-100 h-100 bg-whitesmoke rounded-4 border-0">
                     <div class="card-body p-4">
                        <h5 class="card-title fs-4 mb-3"><b class="fw-medium">Belanja <br> Online</b></h5>
                        <p class="card-text text-justify">
                           Portal belanja yang terintegrasi dengan user interface yang memudahkan konsumen mencari, memilih dan menikmati produk dan layanan kami.
                        </p>
                     </div>
                  </div>

               </div><!-- end col -->
               <div class="col">

                  <div class="card w-100 h-100 bg-whitesmoke rounded-4 border-0">
                     <div class="card-body p-4">
                        <h5 class="card-title fs-4 mb-3"><b class="fw-medium">Layanan <br> F&B</b></h5>
                        <p class="card-text text-justify">
                           Layanan F&B yang kami jalankan menggunakan keahlian tim kami, berfokus pada pengalaman konsumen dalam menikmati makanan dan minuman.
                        </p>
                     </div>
                  </div>

               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
         <section class="page-section container container-section">
            <div class="row row-gap-4 justify-content-lg-between align-items-lg-center">
               <div class="col col-auto">

                  <div>
                     <div id="customer-trust-card">
                        <h1 class="lh-1" style="font-size: calc(3.5em + .25vw);"> <span class="fw-thin">LEBIH DARI</span> <br> 1.000.000 +</h1>
                     </div>
                     <p style="font-size: 1.4em;">Pelanggan Mempercayai Kami</p>
                  </div>
                  
               </div><!-- end col -->
               <div class="col col-12 col-lg-7">

                  <p class="mb-3 text-justify">
                     Kami terus mengembangkan relasi bisnis dan terbuka untuk hubungan potensial yang saling menguntungkan di dalam lingkup lokal maupun internasional. Jika Anda memiliki tujuan dan misi yang sama, silakan hubungi kami. Setiap ide dan masukan dalam pengembangan bisnis akan sangat bernilai, dan kami harap dapat bekerjasama dengan Anda segera. 
                  </p>
                  <a href="#" class="btn btn-outline-dark rounded-0 px-3">Hubungi Kami</a>
                  
               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
         <section class="page-section container container-section">
            <div class="row row-gap-4 align-items-center">
               <div class="col">
                  
                  <img src="../../../../resource/assets/img/indraco/home/shop.png" width="100%" height="auto" style="max-width: 24rem;" alt="">

               </div><!-- end col -->
               <div class="col col-12 col-lg-7">

                  <p class="mb-3 text-justify">
                     INDRACO Store memberikan layanan yang memudahkan bagi para konsumen Indraco untuk mendapatkan berbagai produk mulai dari produk kopi, coklat, jahe dan semua yang diproduksi oleh Indraco. Semuanya bisa didapatkan hanya dengan beberapa langkah mudah dan sederhana, maka produk pesanan Anda akan kami kirimkan langsung ke rumah Anda. 
                  </p>
                  <a href="#" class="btn btn-outline-dark rounded-0 px-3">Hubungi Kami</a>
                  
               </div><!-- end col -->
            </div><!-- end row -->
         </section><!-- end page section -->
         <section class="page-section container container-section">
            <header class="text-center" style="margin-bottom: calc(3rem + 1vw);">
               <h5 class="fs-3 mb-4"><b class="fw-medium">Hubungi Kami</b></h5>
               <p class="lead">Kami mudah dijangkau dan akan senang mendengar kabar atau informasi dari Anda.</p>
            </header>
            <div class="contact-list d-grid gap-3 gap-sm-4 gap-xxl-5" style="grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));">
               <div class="contact-item">

                  <div class="card bg-whitesmoke h-100 border-0 rounded-4 text-center p-4 row-gap-4">
                     <div class="card-header p-0 border-0 bg-transparent flex-grow-0">
                        <div class="ratio ratio-1x1 w-50 mx-auto">
                           <img src="../../../../resource/assets/img/indraco/home/icon-office.svg" class="object-fit-contain w-50 start-50 translate-middle-x" alt="">
                        </div>
                     </div>
                     <div class="card-body p-0 flex-grow-0">
                        <h5 class="card-title m-0 fs-5">
                           <b class="fw-medium">Kantor</b>
                        </h5>
                     </div>
                     <div class="card-body p-0 flex-grow-1">
                        <p class="card-text">
                           <a href="#" target="_blank">
                              Driyorejo, Gresik Mfg. Facility No. 66 Jl. Semeru Industri 1 No.133-135, Bambe, Driyorejo, Gresik 61177 - Indonesia.
                           </a>
                        </p>
                     </div>
                  </div>

               </div>
               <div class="contact-item">

                  <div class="card bg-whitesmoke h-100 border-0 rounded-4 text-center p-4 row-gap-4">
                     <div class="card-header p-0 border-0 bg-transparent flex-grow-0">
                        <div class="ratio ratio-1x1 w-50 mx-auto">
                           <img src="../../../../resource/assets/img/indraco/home/icon-phone.svg" class="object-fit-contain w-50 start-50 translate-middle-x" alt="">
                        </div>
                     </div>
                     <div class="card-body p-0 flex-grow-0">
                        <h5 class="card-title m-0 fs-5">
                           <b class="fw-medium">Telepon</b>
                        </h5>
                     </div>
                     <div class="card-body p-0 flex-grow-1">
                        <p class="card-text">
                           <b class="fw-medium">T</b>. <a href="#" target="_blank">+62 31 9900 0033</a><br>
                           <b class="fw-medium">T</b>. <a href="#" target="_blank">+62 31 9900 0303</a><br>
                           <b class="fw-medium">F</b>. <a href="#" target="_blank">+62 31 9900 0075</a>
                        </p>
                     </div>
                  </div>

               </div>
               <div class="contact-item">

                  <div class="card bg-whitesmoke h-100 border-0 rounded-4 text-center p-4 row-gap-4">
                     <div class="card-header p-0 border-0 bg-transparent flex-grow-0">
                        <div class="ratio ratio-1x1 w-50 mx-auto">
                           <img src="../../../../resource/assets/img/indraco/home/icon-envelope.svg" class="object-fit-contain w-50 start-50 translate-middle-x" alt="">
                        </div>
                     </div>
                     <div class="card-body p-0 flex-grow-0">
                        <h5 class="card-title m-0 fs-5">
                           <b class="fw-medium">Surel</b>
                        </h5>
                     </div>
                     <div class="card-body p-0 flex-grow-1">
                        <p class="card-text">
                           <a href="#" target="_blank">info@indraco.com</a>
                        </p>
                     </div>
                  </div>

               </div>
            </div>
         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
   <script src="../scripts/landing.js"></script>
</body>
</html>