<!DOCTYPE html>
<html lang="en">
<head>
   <title>INDRACOSTORE &bull; Situs Belanja Online Terlengkap & Terpercaya</title>
   <script src="../layouts/head.js"></script>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page-wrapper">
      <header class="page-header">
         <script src="../layouts/running-text.js"></script>
         <script src="../layouts/navbar.js"></script>
      </header><!-- end page header -->
      <main class="page-content">
         <section class="page-section p-0">

            <div id="home-banner" class="carousel slide carousel-fade bg-dark" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <a href="#" class="text-decoration-none">
                        <div class="ratio">
                           <img src=".." class="object-fit-cover" alt="">
                        </div>
                     </a>
                  </div>
                  <div class="carousel-item">
                     <a href="#" class="text-decoration-none">
                        <div class="ratio">
                           <img src=".." class="object-fit-cover" alt="">
                        </div>
                     </a>
                  </div>
                  <div class="carousel-item">
                     <a href="#" class="text-decoration-none">
                        <div class="ratio">
                           <img src=".." class="object-fit-cover" alt="">
                        </div>
                     </a>
                  </div>
                  <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#home-banner" data-bs-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control carousel-control-next" type="button" data-bs-target="#home-banner" data-bs-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Next</span>
                  </button>
               </div>
               <div class="carousel-indicators position-relative m-0">
                  <button type="button" data-bs-target="#home-banner" data-bs-slide-to="0" class="w-100 m-0 border-0 active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#home-banner" data-bs-slide-to="1" class="w-100 m-0 border-0" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#home-banner" data-bs-slide-to="2" class="w-100 m-0 border-0" aria-label="Slide 3"></button>
               </div>
            </div><!-- end home banner -->
            
         </section><!-- end page section -->
         <section class="page-section">
            <div class="container">

               <div class="sticky-top">
                  filter
               </div>
               
               <div class="product-wrapper row g-0">
                  <div class="product-sidebar col col-12 col-lg-auto">
   
                     <div class="sidebar-trigger d-lg-none">
                        <div class="row g-2 row-cols-2">
                           <div class="col">
                              <button class="btn btn-outline-dark rounded-0 w-100" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                                 <i class="fas fa-filter"></i> Saring
                              </button>
                           </div><!-- end col -->
                           <div class="col">
                              <button class="btn btn-outline-dark rounded-0 w-100" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                                 <i class="fas fa-sort-amount-asc"></i> Urutkan
                              </button>
                           </div><!-- end col -->
                        </div><!-- end row -->
                     </div><!-- end sidebar trigger -->

                     <div id="sidebar" class="offcanvas-lg offcanvas-start" tabindex="-1">
                        <div class="offcanvas-header">
                           <h5 class="offcanvas-title opacity-50 fs-5">
                              Saring Produk
                           </h5>
                           <button class="btn-close rounded-0 shadow-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar"></button>
                        </div>
                        <div class="offcanvas-body">
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item px-0">
                                 satu
                              </li>
                              <li class="list-group-item px-0">
                                 satu
                              </li>
                              <li class="list-group-item px-0">
                                 satu
                              </li>
                              <li class="list-group-item px-0">
                                 satu
                              </li>
                              <li class="list-group-item px-0">
                                 satu
                              </li>
                           </ul>
                        </div>
                        <div class="offcanvas-header d-block px-lg-0">
                           <div class="row g-0 row-gap-2 row-cols-1">
                              <div class="col">
                                 <button class="btn btn-outline-dark rounded-0 w-100">
                                    <i class="fas fa-clock-rotate-left"></i> Atur Ulang
                                 </button>
                              </div><!-- end col -->
                              <div class="col">
                                 <button class="btn btn-dark rounded-0 w-100">
                                    Terapkan <i class="fas fa-chevron-right"></i>
                                 </button>
                              </div><!-- end col -->
                           </div><!-- end row -->
                        </div>
                     </div><!-- end sidebar -->
   
                  </div><!-- end product sidebar -->
                  <div class="product-content col col-12 col-lg">
                     <div style="height: 860px;"></div>
                  </div><!-- end product content -->
               </div><!-- end product wrapper -->

            </div><!-- end container -->
         </section><!-- end page section -->
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="../layouts/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page wrapper -->
   <script src="../../../../resource/scripts/global.js"></script>
   <script src="../scripts/custom.js"></script>
</body>
</html>